<div class="row">
    <div class="col-6">
        <br>
        <div class="mb-4">
            <label for="num1" class="col-sm-2 col-form-label">Tabla</label>
            <div class="col-sm-9">
                <input type="text"[(ngModel)]="num1" name="num1" class="form-control">
            </div>
        </div>

        <div class="mb-4">
            <button (click)="tablaM()" class="btn btn-primary">Calcular</button>
        </div>
    </div>

    <div class="col-6">
        <span *ngFor="let item of tablaR">
            <h2>{{item}}</h2>
        </span>
    </div>
</div> 
