<div class="container-xl px-5 center">
    <form name="formC" method="POST" action=""><br>
        <div class="container mt-3">
            <h2>Cinepolis</h2>
            <p>Entradas:</p>
            <form>
              <div class="row">
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="nombre" name="nombre">
                </div>
                
                <div class="col-6">
                  <input type="number" class="form-control" placeholder="compradores" name="compradores">
                </div>

                <div class="form-check">
                    <h2>Tarjeta Cineco</h2>
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1
                    <label class="form-check-label" for="radio1"></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1
                    <label class="form-check-label" for="radio1"></label>
                </div>

                <div class="col-6">
                    <input type="number" class="form-control" placeholder="boletos" name="boletos">
                </div>

              </div>
            </form>
          </div> 
          <div>
            <p>Salidas:</p>
            <form>
                <div class="row">
                    <div class="col-6">
                      <input type="text" class="form-control" placeholder="volver a pagar" name="vpagar">
                    </div>
                </div>
            </form>
          </div>
        <br>
        <div class="col-md-12 text-left">
            <h3>Acciones</h3>
            <div class="col-md-12 text-left">
                <div class="d-grid gap-2 mt-2">
                    <button type="submit" name="btnOpt" value="REG" class="btn btn-primary">Comprar</button>
                </div>
                <div class="d-grid gap-2 mt-2">
                    <button type="submit" name="btnOpt" value="CAN" class="btn btn-danger">Cancelar</button>
                </div>
               
            </div>
        </div> <br>
    </form>
</div>
