<app-menu></app-menu>
<div class="container">
  <div class="row">
    <app-product-list></app-product-list>
  </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Ejercicio 1 Angular</title>
</head>
<body>
  <h1>hola Mundo</h1>
<p>siguiente página</p>

{{title}}
<div>La suma de 2  + 2 es: {{2+2}}</div>

<div>el doble de: {{duplicarValor(3)}}</div>

<hr>
<br>

<div>
  {{pelicula.titulo | uppercase}}
</div>
<div>
  {{pelicula.fechaLanzamiento }}
  {{pelicula.fechaLanzamiento | date}}
</div>
 {{pelicula.precio| currency}}
<div>

<hr>
<br>

</div>
<app-suma></app-suma>
<app-resta></app-resta>
  <div>
    <hr>
    <br> 
  </div>
<app-operacion></app-operacion>
<app-product-list></app-product-list>
<div>
</div>
</body>
</html>
